{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always"
}